<html>
  <%- include("./partials/head.ejs") %>
  <body>
    

    <div class="container" >

      <div class="row">
          <div class="col-1" ></div>

          
          <div class="col-10" style="background-color:black;">

            <%- include("./partials/nav_simple.ejs") %>
            <h1 class="text-white"> Recordings</h1>
            <h2 class="text-white"> This feature doesn't exist!</h2>
            <%- include("./partials/footer.ejs") %>

          </div>

          <div class="col-1"></div>

      </div>

    </div>

  </body>
</html>