<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1.0>
        <title> Instrument Player | <%= title%></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="bongos-style.css">
    </head>
    <body>
        <div class="containter">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8" style="background-color:black;">
                    
                    <%- include("../partials/nav_instruments.ejs") %>

                    <div class="bongos">
                       <img src="/images/bongos.png">
                    </img>
                    </div>
                    <div class="bongos">
                        <div data-note="Left" class="drum left"><kbd class="key-code"></kbd></div>
                        <div data-note="Right" class="drum right"><kbd class="key-code"></kbd></div>    
                    </div>
                    <div class="container" style="position: relative; text-align: center; width: 100%;">
                        <div id="popup" style="display: none; position: fixed; left: 50%; top: 5%; transform: translate(-50%, 5%); border:3px solid grey; z-index: 9; background-color: #FFF;">
                            <form style="max-width: 300px; padding: 20px; background-color: #FFF;" id="map">
                                <h2 id="maptitle">Map Keys</h2>
                                <div id="liveAlertPlaceholder"></div>
                                <label for="drumkey">
                                    Type keys for drums seperated by commas
                                </label>
                                <input type="text" id="drumkey" placeholder="q,e" name="drumkey" maxlength="3" minlength="3" required>
                                <button type="submit" class="btn btn-success" id="mapsubmit">Map Keys</button>
                                <button type="button" class="btn btn-danger" onclick="closeForm()">Close</button>
                            </form>
                        </div>
                    </div>
                    <audio id="Left" src="/bongo_notes/bongos-high-heel-1_6LaLVJGc.wav"></audio>
                    <audio id="Right" src="/bongo_notes/bongos-low-heel-1_UVbg85tv.wav"></audio>
                    <%- include("../partials/footer.ejs") %>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <script src="/bongoscript.js"></script>
    </body>
    
</html>